**/__pycache__
env
venv
.docker-stamps/
report.log
media/**
**/compressed.json
**/compressed.pkl.gz
**/compressed_for_plotting.pkl.gz
**/assets/side_measurements/**
**/assets/gen_data/**
**/*.fls
**/*.fdb_latexmk
**/*.aux
**/*.log
**/*.synctex.gz

**/assets/runtime_assets/**/gen_tmp/**