<?xml version="1.0"?>
<model>
  <name>research_vessel</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Dominik Frey</name>
    <email>dominik.frey@liu.se</email>
  </author>
  <description>
    Parameterized autonomous surface vessel model template for ArduPilot SITL + Gazebo Harmonic.
  </description>
</model>
